trigger:
- master

variables:
  sdk_version: 7.0.401

jobs:
- job: Windows
  pool:
    vmImage: 'windows-2022'
  steps:
  - task: UseDotNet@2
    displayName: 'Use .NET Core sdk'
    inputs:
      packageType: sdk
      version: $(sdk_version)
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - powershell: dotnet tool restore
  - powershell: dotnet cake
    env:
      COREHOST_TRACE: 0
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'VSTest' # JUnit, NUnit, VSTest, xUnit, cTest
      testResultsFiles: '**/*.trx'
      #searchFolder: '$(System.DefaultWorkingDirectory)' # Optional
      #mergeTestResults: false # Optional
      failTaskOnFailedTests: true # Optional
      #testRunTitle: # Optional
      #buildPlatform: # Optional
      #buildConfiguration: # Optional
      #publishRunAttachments: true # Optional
